@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  --color-primary: #ff3333;
  --color-secondary: teal;
   --color-base-100:#faf7f5;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #152127;
  --color-secondary: teal;
} */

[data-theme="light"] {
  .my-btn {
    background-color:#ff3333;
    color:white;
    /* border-color: #1EA1F1; */
  }
  .my-btn:hover {
    /* background-color: #1C96E1;
    border-color: #1C96E1; */
  }
}
[data-theme="dark"] {
  .my-btn {
    /* background-color: rgb(79 70 229); */
    background-color:#ff3333;
    color:white;
    
    /* border-color: #1EA1F1; */
  }
  .my-btn:hover {
    /* background-color: #1C96E1;
    border-color: #1C96E1; */
  }
}
*{
/* font-family:  LandRoverWeb-Bold,Arial,Helvetica,sans-serif; */
    font-family: "Open Sans", sans-serif;
    /* @apply bg-base-200; */
    /* font-family: LandRoverWeb-Medium, Arial, Helvetica, sans-serif */
    /* font-family:"AvenirNext", "arial", "helvetica", sans-serif; */
            /* font-family: AvenirNext, Arial, Helvetica, sans-serif; */

    /* @apply bg-[#152127] */
    /* text-white */
}
 a.active{
   @apply underline decoration-2  underline-offset-6;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-style: normal;
}