@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  --color-primary: #152127;
  --color-secondary: teal;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #152127;
  --color-secondary: teal;
} */

[data-theme="light"] {
  .my-btn {
    background-color: #152127;
    color:white;
    border-color: #1EA1F1;
  }
  .my-btn:hover {
    background-color: #1C96E1;
    border-color: #1C96E1;
  }
}
*{
/* font-family:  LandRoverWeb-Bold,Arial,Helvetica,sans-serif; */
    font-family: "Open Sans", sans-serif;
    /* @apply bg-base-200; */
    /* font-family: LandRoverWeb-Medium, Arial, Helvetica, sans-serif */
    /* font-family:"AvenirNext", "arial", "helvetica", sans-serif; */
            /* font-family: AvenirNext, Arial, Helvetica, sans-serif; */

    /* @apply bg-[#152127] */
    /* text-white */
}
 a.active{
   @apply underline decoration-2 decoration-primary underline-offset-6;
}